body{
	background-image: url("/pictures/background.jpeg");
	
	-moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.header{
	text-align: center;
	font-family: "Tw Cen MT" !important;
	font-size: 150%;
	font-style: normal;
	font-style: italic;
	font-style: oblique;
}
.classlogin {
  display: inline-block;
  margin-bottom: .5rem;
  border-radius: 15px;
  font-family: "Tw Cen MT" !important;
}
.classregister{
  display: inline-block;
  margin-bottom: .5rem;
  border-radius: 15px;
  font-family: "Tw Cen MT" !important;
}
h4{
  font-family: "Tw Cen MT" !important;
  font-size: 125%;
  text-align: left;
}
input {
  display: inline-block;
  margin-bottom: .5rem;
  border-radius: 15px;  
}
form {
	text-align: left;
}
fieldset{
	border: none;
}
.footer{
	text-align: center;
}
.classlogin{
	text-align: right;
}
.classregister{
	text-align: right;
}
.topics > div{
	background: #eee;
	padding: 1em;
	border: #333 1px solid;
}
.topics > div:nth-child(odd){
	background: #ddd;
}
.topics{
	display: grid;
	grid-row-gap: 0.5em;
	font-size: 175%;
	font-family: "Tw Cen MT" !important;
	font-style: italic;
	grid-auto-rows: minmax(100px, auto);
}
.scroll{
    overflow: scroll;
    color: grey;
    width: 5px;
    height: 5px;
}
.login{
	text-align: left !important;
}
.right_header{
	color: blue !important;
}
.right_header2{
	color: blue !important;
}
.user{
	color: red;
	text-decoration: underline;
	font-style: italic;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #606af0; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #606af0; 
}

