*{
	
	box-sizing: border-box;
}


body {
	color: #6e6f59;
	background-color: #c9cba3;
	line-height: 1,6;
	font-family: 'Tw Cen MT';
	padding: 1em;	
}

.container {
	max-width: 700px;
	margin-left:auto;
	margin-right:auto;
	padding: 1em;	
}

.header {
	font-size: 50px;
	text-align: left;
	padding: 1em;
	
}
.header a{
	font-size: 15px;
	text-align: right;
	float: right;
	
}


.footer a, .footer a:hover {
	text-decoration: none;
	color: #ffe1a8;
	align: center;
	
}
.footer a:focus  {
	
	text-decoration: none;
	color: #6e6f59;
	
}
.header span{
	
	color:#ffe1a8;
}

.wrapper{
	box-shadow: 0 0 20px 0 #6e6f59;
	
}

.wrapper > *{
	padding:1em;	
}

fieldset{
	border: none;
	
}

.linkLoginRegister a, .linkLoginRegister a:hover {
	text-decoration: none;
	color: #ffe1a8;
	
}
.linkLoginRegister a:focus  {
	
	text-decoration: none;
	color: #6e6f59;
	
}

.login {
	background-color: #ffe1a8;

}

.login h4, .login form{
	text-align: center;
	margin: 0 0 1rem 0;
	
}

.login form {
	display: grid;
	grid-template-columns: 1fr 1fr ;	
	grid-gap:20px;

}

.register {
	background-color: #ffffff;

}
.register h4, .register form{
	text-align: center;
	margin: 0 0 1rem 0;
	
}

.register form {
	display: grid;
	grid-template-columns: 1fr 1fr ;	
	grid-gap:20px;

}

.login form label, .register form label {
	
	display: block;
	
}

.login form p, .register form p {
	
	margin: 0;
	
}

.login form button, .register form button, .login form input, .register form input {
	
	width: 100%;
	padding: 0.5em;
	
}

.login  button, .register button {
	
	align: center;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	background: #6e6f59;
	color:#c9cba3 ;
}

.login  button:hover, .login button:focus, .register  button:focus, .register button:hover {
	
	background:#c9cba3 ;
	color:#6e6f59 ;
	outline: 0;
	transition: background-color 1s ease-out ;
}

.full {
	align-items: center ;
 	width: 100px;
	margin-left:auto;
	margin-right:auto;
 	
	
}


@media(min-width:700px) {
	.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	
	
	}
	
	.wrapper > *{
	padding: 2em;
	
	}
}











