*{
	
	box-sizing: border-box;
}


body {
	color: #6e6f59;
	background-color: #c9cba3;
	line-height: 1,6;
	font-family: 'Tw Cen MT';
	padding: 1em;	
}

.container {
	max-width: 700px;
	margin-left:auto;
	margin-right:auto;
	padding: 1em;	
}

.header{
	text-align: center;
	
}
.header a, .header a:hover{
	font-size: 40px;
	text-align: center;
	padding: 0.5em;
	color: #6e6f59;
	text-decoration: none;
	
}
.header a:hover{
	color: #ffe1a8;
	
}


.footer{
	
	text-align: center;
}

.footer a, .footer a:hover {
	text-decoration: none;
	color: #ffe1a8;
	align: center;
	
}

.footer a:hover {
	color: #6e6f59;
	
}
.footer a:focus  {
	
	text-decoration: none;
	color: #6e6f59;
	
}
.header span{
	
	color:#ffe1a8;
}

.wrapper{
	box-shadow: 0 0 20px 0 #6e6f59;
	
}

.wrapper > *{
	padding:1em;	
}

fieldset{
	border: none;
	
}


.linkLoginRegister span{
	
	font-size: 15px;
	
}

.linkLoginRegister a, .linkLoginRegister a:hover {
	text-decoration: none;
	color: #ffe1a8;

}
.linkLoginRegister a:focus  {
	
	text-decoration: none;
	color: #6e6f59;
	
}

.login {
	background-color: #ffe1a8;

}

.login h4, .login form{
	text-align: center;
	margin: 0 0 1rem 0;
	
}

.login form {
	display: grid;
	grid-template-columns: 1fr  ;	
	grid-gap:20px;

}

.register {
	background-color: #ffffff;

}
.register h4, .register form{
	text-align: center;
	margin: 0 0 1rem 0;
	
}

.register form {
	display: grid;
	grid-template-columns: 1fr  ;	
	grid-gap:20px;

}

.login form label, .register form label {
	
	display: block;
	
}

.login form p, .register form p {
	
	margin: 0;
	
}

.login form button, .register form button, .login form input, .register form input {
	
	width: 100%;
	padding: 0.5em;
	
}

.login  button, .register button {
	
	align: center;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	background: #6e6f59;
	color:#c9cba3 ;
}

.login  button:hover, .login button:focus, .register  button:focus, .register button:hover {
	
	background:#c9cba3 ;
	color:#6e6f59 ;
	outline: 0;
	transition: background-color 1s ease-out ;
}

.full {
	align-items: center ;
 	width: 100px;
	margin-left:auto;
	margin-right:auto;
 	
	
}


@media(min-width:700px) {
	.wrapper {
	display: grid;
	grid-template-columns: 1fr 2fr;
	
	}
	
	.login form {
	display: grid;
	grid-template-columns: 1fr  ;
	
	}
	
	.register form {
	display: grid;
	grid-template-columns: 1fr 1fr ;
	
	}

}

.users {
	font-size: 135%;
	width: 100%;
}
.tags{
	font-size: 135%;
	font-style: italic;
	font-style: oblique;
}
.aclass{
	color: #000000!important;
	text-decoration: none !important;
}

.usercolor{
	color:#0080ff;
	font-style:italic;
	text-align: center;
}
.tag_action{
		font-size: 150%;
		text-align: right;
}
.wrapper3{
	box-shadow: 0 0 20px 0 #6e6f59;
	
}

.wrapper3 > *{
	padding:1em;	
}

.wrapper3 {
	background-color: #ffe1a8;
	color:#6e6f59;
	text-align: center;
	align: center;
}
.wrapper3 {
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 1px;
	
	}

.scroll{
    overflow: scroll;
    color: #000000;
    background-color: #ffe1a8;
    width: 100%;
	height: 300px;
    margin-left:auto;
	margin-right:auto;
	overflow-x: hidden;
}
.scroll2{
    overflow: scroll;
    color: #000000;
    background-color: #ffffff;
    width: 100%;
	height: 300px;
    margin-left:auto;
	margin-right:auto;
	overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #6e6f59; 
    border-radius: 10px;
    background: #6e6f59; 
}
::-webkit-scrollbar-thumb {
    background:#ffe1a8;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffe1a8;
}
.users form {
	display: grid;
	grid-template-columns: 1fr  ;	
	grid-gap:20px;
}
.users {
	background-color: #ffe1a8;
	color: black;

}

.users h3, .users form{
	text-align: center;
	margin: 0 0 1rem 0;
	
}
.tags form {
	display: grid;
	grid-template-columns: 1fr  ;	
	grid-gap:20px;
}
.tags {
	background-color: #ffffff;
	color: black;

}
.tags h3, .tags form{
	text-align: center;
	margin: 0 0 1rem 0;
	
}
@media(min-width:700px) {
	.wrapper3 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1px;
	
	}
	
	.users form {
	display: grid;
	grid-template-columns: 1fr  ;
	
	}
	
	.tags form {
	display: grid;
	grid-template-columns: 1fr;
	
	}
	
	.wrapper3 > *{
	padding: 1em;
	
	}

}
h3{
	border-bottom: #333 2px solid;
}
.forum_tags{
	text-align:left;
	padding-left: 100px;
	padding-right: auto;
}
th{
	border-bottom: #333 2px solid;
}