<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="css/login.css" />
<head>
<meta charset="UTF-8" />
<title>404</title>
</head>
<body>
	<div class="container4">
	
	<span th:replace="fragments::header"></span>
	

	<div class="lionel">
	<h4>404</h4>
		<img  src="/image/404.jpg" alt="Lionel" />	
	
	<div>Is it me you're looking for?</div>
	<form  action="/" method="post">
	<button type="submit"> GO HOME LIONEL, YOU'RE DRUNK</button>
	</form>
	</div>
	
	<span th:replace="fragments::footer" class="footer"></span>
	
	</div>

</body>
</html>
