<!DOCTYPE html>
<html>
<link rel="stylesheet" href="css/admin.css" />
<head>
<meta charset="UTF-8" />
<title>Admin</title>
</head>
<body>
	<div class="container">

		<span th:replace="fragments::header"></span>
		<hr />
		<br />

	
			<div class="wrapper3">
			<div class="scroll"> 
<div class="users1">
				<table class="users">
					<th>Users</th>
					<th>Toggle admin</th>
					<th>Toggle ban</th>
					
					<tr th:each="forumUser : ${users}" th:if='${@userController.getLoggedUser() != forumUser}'>
						
						<td>							
								<div class="usercolor" th:text='${forumUser.login}'></div>															
						</td>

						<td>							
								<a class="aclass"
									th:href='${"/toggleAdmin?ident=" + forumUser.ident}'> 
									<span th:if='${#strings.toString(forumUser.restriction) == "BASIC"}'>
										Set as admin</span> 
									<span th:if='${#strings.toString(forumUser.restriction) == "ADMIN"}'>
										Set as basic</span>
								</a>							
						</td>
						
						<td>							
								<a class="aclass"
									th:href='${"/toggleBan?ident=" + forumUser.ident}'> 
									<span th:if='${#strings.toString(forumUser.restriction) == "BASIC" or #strings.toString(forumUser.restriction) == "ADMIN"}'>
										Ban user</span> 
									<span th:if='${#strings.toString(forumUser.restriction) == "BANNED"}'>
										Unban user</span>
								</a>							
						</td>
						
					</tr>
				</table>
					</div> 
</div>
				
				<div class="scroll2">
				<div class="tags">

					<h3>Tags</h3>
					<div class="forum_tags" th:each="tag : ${tags}">

						<span th:text='${tag.getName()}' />

					</div>

				</div>
			</div> 


</div>
		
		<br />


		<form class="tag_action" action="/addTag" method="post">
			Add Tag: <input type="text" name="name"
				placeholder="Add new tag here" required="required" /> <input
				type="submit" value="Post" />
		</form>
		
		<span th:text='${message}'/>
		
		<hr />
		<span th:replace="fragments::footer"></span>

	</div>
</body>
</html>