<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Admin</title>
</head>
<body>


	<div class="col" th:replace="fragments::header"></div>
	
	<table class="users">	
	<th>Forum Users</th>
		<tr th:each="forumUser : ${users}">
			
			<td><span th:text='${forumUser.login}' />
			
			
			<a th:href='${"/setAdmin?ident=" + forumUser.ident}'>
			<span th:if='${#strings.toString(forumUser.restriction) == "BASIC"}'>Set user as admin</span>
			<span th:if='${#strings.toString(forumUser.restriction) == "ADMIN"}'>Set user as basic</span>
			</a></td>
		</tr>
	</table>
	
	<br/>
	
	<table class="tags">
	<th>Tags</th>
					<tr th:each="tag : ${tags}">
					<td>
					<span th:text='${tag.getName()}'/>
					</td>
	</tr>
	
	</table>
	
	
	<form action="/addTag" method="post">
	Add Tag: <input type="text" name="name"
							placeholder="Add new tag here" /> <input type="submit"
							value="Post" />
	</form>
	
	<div class="col" th:replace="fragments::footer"></div>
	
</body>
</html>