<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sk">
<link rel="stylesheet" href="css/login.css" />

<div class="header" th:fragment="header">
<h1><span> Best </span>movie forum ever </h1>

</div>


<div class="footer" th:fragment="footer">

<a  href='http://localhost:8080'>Ⓒ  Movie forum 2018</a>
<br/>

<span th:if='${@userController.Logged}'>
Logged as <span th:text='${@userController.LoggedUser?.Login}'/><br/>
<a href="/logout">Logout</a>
</span>

<span th:if='${not @userController.Logged}'>
<a href="/user">Log in</a>
</span>

</div>









</html>