<!DOCTYPE html>
<html>
<link rel="stylesheet" href="css/forum.css" />
<head>
<meta charset="UTF-8" />
<title>Movie forum</title>
</head>
<body>


	<div class="col" th:replace="fragments::header"></div>
	<div th:replace="fragments::header2"></div>

	<select>
		<option th:each="tag : ${tags}"><span th:text='${tag}' /></option>
	</select>
	<br />
	<hr />


<div class="topics">
<div  th:each="topic : ${topics}">
<div th:text='${topic.title}'/>

</div>
</div>


	<span th:if='${@userController.Logged}'>
		<form action="/addTopic" method="post">
			<label> Add Topic <input type="text" name="newTopic"
				placeholder="Add topic here" required="required" />
			</label>
			<button type="submit">Post</button>
		</form>
	</span>



	<span th:if='${@userController.logged}'>
		<form action="/comment" method="post">
			<label>Comment <input type="text" name="newComment"
				placeholder="Insert your comment" required="required" />
			</label>
			<button type="submit" id="SaveComment">SEND</button>
		</form>
	</span>

	<div th:replace="fragments::footer"></div>

</body>
</html>