<!DOCTYPE html>
<html>
<link rel="stylesheet" href="css/login.css" />
<head>
<meta charset="UTF-8" />
<title>Movie forum</title>
</head>
<body>
	<div class="container2">
		
			<span th:replace="fragments::header"></span>
		
		
		<div class="title">
		<span>" </span>
		<span th:text="${currentTopicTitle}"/>
		<span> "</span>
		</div>
		<br/>
<div class="scroll">
		<div class="wrapper2">
		
<div class="comments" th:each="comment : ${comments}">
				<div class="picture">
		<img class="image" width="120" height="120"
											th:src="*{@userController.decodeToImage(comment.getForumUser().getLogin())}"
											onerror="this.src='image/default.jpg';" />
											
											<div class="username" th:text='${comment.getForumUser().getLogin()}' />
											<br/>
											<span th:if='${@userController.Logged}' >
<span th:if='${@userController.getLoggedUser().equals(comment.getForumUser())}'>			
		
		<button th:onclick="'showUpdateComment(\''+${comment.getIdent()}+'\');'" value="updateComment">Update comment</button>
		
		
</span>
</span>
					
					</div>
<div class="info">
					
					
<div class="date" th:text="${#dates.format(comment.createdOn, 'dd-MMM-yyyy')}" />
<br/>

<div class="content" th:text='${comment.content}' /> 


<div style="display:none" class="updateCommentForm" th:id="${comment.getIdent()}" >
<form action="/updateComment" method="post">
<input type="text" name="updateComment"
placeholder="update" required="required"/> <button type="submit"
value="Post"> Update </button>
</form>
</div>


<br/>
<span>Likes: </span>
<span th:text='${comment.getLikers().size()}'/>
					 
 <span th:if='${@userController.Logged}'>
  <span th:if='${controller.haveILiked(comment.ident) == false}'>
  <a th:href='${"/toggleLike?ident=" + comment.ident}'>Like</a>
  </span>
  <span th:if='${controller.haveILiked(comment.ident) == true}'>
  <a th:href='${"/toggleLike?ident=" + comment.ident}'>Unlike</a>
  </span>					    
</span>
	</div>

				</div>
				</div>
				</div>
				
				<br/>
<div class="form">
				<span th:if='${@userController.Logged}'>

					<form action="/addComment" method="post">

						Add Comment: <input type="text" name="content"
							placeholder="Add comment here" required="required"/> <button type="submit"
							value="Post" > Post</button>
					</form>
				</span>
</div>
		
		
		<div class="tags">
		<hr/>
		Tags
		<br/>
		<span th:each="tag : ${topicTags}">
		
		<span>( </span>
							<span class="tagsColor" th:text="${tag.getName()}" >
							</span>
							<span> )</span>
							
		</span>
		<hr/>	
			</div>			 

		<span th:if='${@userController.Logged}'> <span
			th:if='${#strings.toString(@userController.loggedUser.restriction) == "ADMIN"}'>
<div class="removeAddTags">
<span class="addTags">
				<form th:action='${"/addTopicTag"}'>	
					<select th:name= "ident">
						<option th:each="tag : ${missingTags}" th:value="${tag.ident}"
							th:text="${tag.getName()}" />
					</select>					
					<button type="submit" value="addTag">Add new tag</button>
				</form> 
</span>	
<br/>
<span class="removeTags">
					<form th:action='${"/removeTopicTag"}'>	
					<select th:name= "ident">
						<option th:each="tag : ${topicTags}" th:value="${tag.ident}"
							th:text="${tag.getName()}" />
					</select>					
					<button type="submit" value="removeTag">Remove tag</button>
				</form> 
</span>
</div>
		</span>
		</span>

		
			<span th:replace="fragments::footer"></span>
	</div>


</body>
<script src="js/forum.js"/>
</html>