<!DOCTYPE html>
<html>
<link rel="stylesheet" href="css/login.css" />
<head>
<meta charset="UTF-8" />
<title>Movie forum</title>
</head>
<body>
	<div class="container2">
		
			<span th:replace="fragments::header"></span>
		
		
		<span class="title" th:text="${currentTopicTitle}"/>
<div class="scroll">
		<div class="wrapper2">
				<div class="comments" th:each="comment : ${comments}">
					<p>
					<span th:text='${comment.getForumUser().getLogin()}' />
					
					<span th:text='${comment.getCreatedOn()}' />
					</p>
					
					<p>
					<span th:text='${comment.content}' /> 
					 </p>
					 <p>
					 <span>Liked: </span>
					 <span th:text='${comment.getLikers().size()}'/>
					 </p>
					 
					 <p>
							<span th:if='${@userController.Logged}'>
					<span th:if='${@userController.getLoggedUser().equals(comment.getForumUser())}'>
					<a th:href='${"/deleteComment?ident=" + comment.ident}'>Delete comment</a></span>
						    <span>Update comment??</span>
						    <span> If userController.getLoggedUser().equals(comment.getLikers.contains???)</span>
							</span>
					</p>

				</div>
				</div>
				</div>
<div class="form">
				<span th:if='${@userController.Logged}'>

					<form action="/addComment" method="post">

						Add Comment: <input type="text" name="content"
							placeholder="Add comment here" required="required"/> <input type="submit"
							value="Post" />
					</form>
				</span>
</div>
		
		
		<div class="tags">
		<hr/>
		Tags:
		<span th:each="tag : ${topicTags}">
							<span th:text="${tag.getName()}" >,</span> </span>
		<hr/>	
			</div>			 

		<span th:if='${@userController.Logged}'> <span
			th:if='${#strings.toString(@userController.loggedUser.restriction) == "ADMIN"}'>

<span class="addTags">
				<form th:action='${"/addTopicTag"}'>	
					<select th:name= "ident">
						<option th:each="tag : ${missingTags}" th:value="${tag.ident}"
							th:text="${tag.getName()}" />
					</select>					
					<input type="submit" value="Add new tag"/>
				</form> 
</span>	

<span class="removeTags">
					<form th:action='${"/removeTopicTag"}'>	
					<select th:name= "ident">
						<option th:each="tag : ${topicTags}" th:value="${tag.ident}"
							th:text="${tag.getName()}" />
					</select>					
					<input type="submit" value="Remove tag"/>
				</form> 
</span>
		</span>
		</span>

		
			<span th:replace="fragments::footer"></span>
		</div>
	


</body>
<script src="js/forum.js"/>
</html>